 {% load static %}
<html lang="en">
<head>
     <title>MovieManiac</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        <script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
        <link href="{% static 'style.css' %}" rel="stylesheet">
</head>
  <body class="index-background">

<!--navbar-->
    <div class="mb-5">
    <p class="badge badge-primary">Action</p>
    <p class="badge badge-secondary">Adventure</p>
    <p class="badge badge-success">Animation</p>
    <p class="badge badge-danger">Comedy</p>
    <p class="badge badge-warning">Documentary</p>
    <p class="badge badge-info">Fantasy</p>
    <p class="badge badge-light">Horror</p>
    <p class="badge badge-dark">Thriller</p>
    </div>

    <div class="col-md-12 text-center mb-5 indexlogo">
      <a class="comp-logo" href="home"><img src="{% static 'image/logo.png' %}"></a>
    </div>

    <header class="masthead text-white text-center">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-xl-9 mx-auto">
            <h1 class="mb-5">One site movie place for all movie related things</h1>
          </div>
          <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
            <form>
              <div class="form-row">
                <div class="col-12 col-md-9 mb-2 mb-md-5">
                  <input type="email" class="form-control form-control-lg" placeholder="Enter your email...">
                </div>
                <div class="col-12 col-md-3">
                  <a href="userregister"><button type="button" class="btn btn-block btn-lg btn-primary">Sign up!</button></a>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </header>
    <div class="col-md-12 text-center">
      <a href="home"><button class="my-2 my-lg-0 btn btn-outline-success btn-lg" type="button">Just Browse</button></a>
    </div>

  </body>

</html>